<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <link rel="stylesheet" href="/css/style.css" />
  <title>GitPopo {% block title %}{% endblock %}</title>
  {% endblock %}
</head>
<body>
  <div class="container menu":>
    <ul id="navigation">
      <li class="inline"><a href="/">Home</a></li>
      {% if current_user.is_anonymous %}
        <li class="inline"><a id="login" href="/login">Log in</a></li>
      {% else %}
        <li class="inline"><a href="/namespaces">Namespaces</a></li>
        <li class="inline"><a href="/bloomfilters">Bloomfilters</a></li>
        <li class="inline"><a href="/users">Users</a></li>
        <li class="inline"><a id ="logout" href="/logout">Log out</a></li>
      {% endif %}
    </ul>
  </div>
  {% block content %}{% endblock %}
</body>
</html>
