{% extends "base.jinja2" %}
{% block title %}Filters{% endblock%}
{% block content %}
  <div class="container">
    {% if namespaces %}
      <form action="/bloomfilters" method="post">
        <select name="namespace">
        {% for namespace in namespaces %}
          <option value="{{ namespace.name }}">{{ namespace.name }}</option>
        {% endfor %}
        </select>
        <input type="text" placeholder="secrets" name="secrets" required> 
        <button type="submit">Create</button>
      </form>
        {% if bloomfilters %}
          <div class="container">
            <ul>
              {% for filter in bloomfilters %}
                <li><img class="badge" src="/favicon.ico"><a href="/bloomfilters/{{ filter.id }}">Filter {{ filter.id }}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
    {% else %}
      <p>Create a namespace first</p>
    {% endif %}
  </div>
{% endblock %}
