{% extends "base.jinja2" %}
{% block title %}User Detail{% endblock%}
{% block content %}
  {% if bloomfilter %}
    <div class="container content">
      <h3>Filter {{ bloomfilter.id }}</h3>
      <ul>
        <li>capacity: {{ bloomfilter.capacity }}</li>
        <li>used: {{ bloomfilter.used }}</li>
        <li>error_rate: {{ bloomfilter.error_rate }}</li>
      </ul>
      <form action="/bloomfilters/{{ bloomfilter.id }}" method="post">
        <div>
          <button type="submit">Delete</button>
        </div>
      </form>
    </div>
  {% endif %}
{% endblock %}
