{% extends "base.jinja2" %}
{% block title %}Home{% endblock%}
{% block content %}
  <div class="container">
    <p>Welcome to GitPopo.</p>
      {% if current_user.is_anonymous %}
        <p>Please login to continue.</p>
      {% endif %}
      </p>
  </div>
{% endblock %}
