{% extends "base.jinja2" %}
{% block title %}Login{% endblock%}
{% block content %}
  <div class="content">
    <div class="container">
      <form action="/login" method="post">
        <label for="login">Login</label>
        <input type="text" placeholder="" name="login" required> 
        <label for="passwd">Password</label>
        <input type="password" placeholder="" name="passwd" required>
      <button type="submit">Login</button>
      </form>
      {% if error %}
        <p>{{ error }}</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
