{% extends "base.jinja2" %}
{% block title %}Namespace Detail{% endblock%}
{% block content %}
  {% if namespace %}
    <div class="container content">
      <h3>Name: {{ namespace.name }}</h3>
      {% if bloomfilter %}
        <h4>Bloomfilter</h4>
        <ul class="bullet-list">
          <li>capacity: {{ bloomfilter.capacity }}</li>
          <li>used: {{ bloomfilter.used }}</li>
          <li>error rate: {{ bloomfilter.error_rate }}</li>
        </ul>
      {% else %}
        <p>no filters are linked to this namespace</p>
      {% endif %}
      {% if users %}
        <h4>Users</h4>
        <ul class="bullet-list">
          {% for user in users %}
            <li>{{ user.login }}</li>
          {% endfor %}
        </ul>
      {% else %}
        <p>no users are linked to this namespace</p>
      {% endif %}
      <form action="/namespaces/{{ namespace.id }}" method="post">
        <div class="container">
          <button type="submit" class="deletebtn">Delete</button>
        </div>
      </form>
    </div>
  {% endif %}
{% endblock %}
