{% extends "base.jinja2" %}
{% block title %}Namespaces{% endblock%}
{% block content %}
  <div class="container">
    <form action="namespaces" method="post">
      <input type="text" placeholder="" name="name" required>
      <button type="submit" class="createbtn">Create</button>
    </form>
    {% if namespaces %}
      <div class="container">
        <ul>
          {% for ns in namespaces %}
            <li><img class="badge" src="/favicon.ico"><a href="/namespaces/{{ ns.id }}">{{ ns.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
{% endblock %}
