{% extends "base.jinja2" %}
{% block title %}User Detail{% endblock%}
{% block content %}
  {% if user %}
    <h3>{{ user.login }}</h3>
    <ul>
      <li>admin: {{ user.is_superuser}}</li>
      {% for namespace in namespaces %}
        {% if namespace.id == user.namespace_id %}
          <li>namespace: {{ namespace.name }}</li>
        {% endif %}
      {% endfor %}
    </ul>
    {% if namespaces %}
    <form action="/users/{{ user.id }}" method="post">
      <select name="namespace">
      {% for namespace in namespaces %}
        <option value="{{ namespace.name }}">{{ namespace.name }}</option>
      {% endfor %}
      </select>
      <input type="hidden" name="method" value="update">
      <button type="submit">Update</button>
    </form>
    {% endif %}
    <form action="/users/{{ user.id }}" method="post">
        <input type="hidden" name="method" value="delete">
        <button type="submit">Delete</button>
    </form>
  {% endif %}
{% endblock %}
