{% extends "base.jinja2" %}
{% block title %}Users{% endblock%}
{% block content %}
  <div class="container">
    {% if namespaces %}
      <form action="/users" method="post">
        <input type="text" placeholder="login" name="login" required> 
        <input type="password" placeholder="password" name="passwd" required>
        <input type="password" placeholder="repeat password" name="passwdrepeat" required>
        <select name="namespace">
        {% for namespace in namespaces %}
          <option value="{{ namespace.name }}">{{ namespace.name }}</option>
        {% endfor %}
        <input type="checkbox" name="superuser">
        <button type="submit">Create</button>
      </form>
      {% if users %}
        <div class="container">
          <h3>admins</h4>
          <ul>
          {% for user in users %}
            {% if user.is_superuser%}
              <li><img class="badge" src="/favicon.ico"><a href="/users/{{ user.id}}">{{ user.login}}</a></li>
            {% endif %}
          {% endfor %}
          </ul>
          <h3>users</h4>
          <ul>
          {% for user in users %}
            {% if not user.is_superuser %}
              <li><img class="badge" src="/favicon.ico"><a href="/users/{{ user.id}}">{{ user.login}}</a></li>
            {% endif %}
          {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% else %}
      <p>Create a namespace first</p>
    {% endif %}
  </div>
{% endblock %}
