@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap')

* {
    font-family: 'Titillium Web', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
}

p {
    font-size: 14px;
}

ul {
    list-style: none;
}

.container {
    padding: 14px;
}

.inline {
    display: inline;
}

.border {
    border: solid 1px #444444;
}

.menu {
    padding: 14px 14px 2px 14px;
    background: #262626;
    margin-bottom: 20px;
}

.content {
}

#login, #logout {
    float: right;
}

h3 {
    color: red;
}

#navigation > li {
    margin-right: 6px;
    background: #222222;
}

a {
    color: #cc3300;
    text-decoration: none;
    -webkit-transition: color 0.6s, text-weight 0.6s;
    -webkit-transition-timiing-function: ease-out;
}

a:hover {
    color: #3399ff;
    text-decoration: underline;
    weight: underline;
}

a:active {
    color: blue;
}

.badge {
    height: 12px;
    vertical-align: middle;
    padding-right: 4px;
}
